<li class="nav-item">
    <a class="nav-link" href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Add User</a>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalCenterTitle">Add New User</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form_error"></div>
                    {{ form_start(modal_form) }}
                        {{ form_row(modal_form.name, { 'id': 'modal_' ~ modal_form.name.vars.id }) }}
                        {{ form_row(modal_form.username, { 'id': 'modal_' ~ modal_form.username.vars.id }) }}
                        {{ form_row(modal_form.email, { 'id': 'modal_' ~ modal_form.email.vars.id }) }}
                        {{ form_row(modal_form.plainPassword.first, { 'id': 'modal_' ~ modal_form.plainPassword.first.vars.id }) }}
                        {{ form_row(modal_form.plainPassword.second, { 'id': 'modal_' ~ modal_form.plainPassword.second.vars.id }) }}
                        {{ form_row(modal_form.gender, { 'id': 'modal_' ~ modal_form.gender.vars.id }) }}
                        {{ form_row(modal_form.description, { 'id': 'modal_' ~ modal_form.description.vars.id }) }}
                        {{ form_row(modal_form.save, { 'id': 'modal_' ~ modal_form.save.vars.id }) }}
                    {{ form_end(modal_form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
</li>